@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
body {
    background-color: #fafafa;
    margin: 0%;
}
h1 {
    font-family: 'Poppins', sans-serif;
}
.box {
    margin: 0%;
    width: 90%;
    height: 250px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0px 0px 15px #d1d1d1;
    transition: transform 0.2s ease-in-out;
}

.box:hover {
    transform: scale(1.03);
}

.bar {
    width: 100%;
    height: 40px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #6f96ef;
}

.bar2 {
    width: 100%;
    height: 40px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #ed70cc;
}

.bar3 {
    width: 100%;
    height: 40px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #f75794;
}

.click {
    margin-top: -3px;
    font-family: 'Poppins', sans-serif;
    color: rgb(79, 79, 79);
    font-size: medium;
}

.insidetext {
    font-family: 'Kanit', sans-serif;
    color: white;
    text-align: center;
    position: relative;
    top: 10%;

}

a , a::after , a:active , a:hover {
    text-decoration: none;
}

.box2 {
    width: 100%;
    height: 50px;
    background-color: #dffbdb;
    border-color: #37c437;

    border-style: solid;
    border-width: 1px;
    border-top-right-radius: 12px; border-top-left-radius: 12px;
}


.text2 {
    margin-top: 10px;
    font-family: 'Kanit', sans-serif;
    color: #476d47;
}

.box2inside {
    width: 90%;
    height: 190px;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-color: #e3e3e3;
    border-width: 1px;

    border-radius: 12px;
}

.text3 {
    padding-top: -100%;
    padding-left: 5%; padding-right: 5%;
    font-family: 'Kanit', sans-serif;
    color: #3c3c3c;

    line-height: 180%;
    /* text-align: justify; */

    text-align: center;
    
}

.btn {
    width: 100px;
    height: 40px;
    margin-top: -52px;
    margin-left: -49%;
    position: fixed;
    /* margin-right: 80%; */

    
    border-style: solid;
    background-color: none;
    border-width: 1px;
    border-color: #4a70c8;
    border-radius: 5px;
    font-size: 15px;

    color: #4a70c8;
    transition: background-color 0.1s ease-in-out;
    transition: margin-left 0.2s ease-in-out;
    transition: display 0.2s ease-in-out;
    transition: visibility 0.2s ease-in-out;
}

.btn:hover {
    background-color: #4a70c8;
    color: white;
}

@media only screen and (max-width: 1200px) {
    .box2inside {
        height: 100%;
    }

    .box2 {
        height: 100%;
    }

    .btn {
        margin-left: -48%;
    }
    
}

@media only screen and (max-width: 550px) {
    .solution {
        margin-left: 30%;
    }
}

@media only screen and (max-width: 435px) {
    .btn {
        display: none;
        visibility: hidden;
    }
    .solution {
        margin-left: 0%;
    }
}

.whitebar {
    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    box-shadow: 0px 0px 15px #d1d1d1;
}

.solution {
    margin-top: 10px;
    font-size: x-large;
    color: #4a70c8;
    transition: margin-left 0.2s ease-in-out;
}

